# backup files
*~
# ignore precompiled files
# ignore object files
*.i
*.o
*.obj
*.o64
# ignore library files
*.a
*.so*
*.dll
*.def
# ignore executables
biosig4c++/save2gdf
biosig4c++/mma/sload
biosig4c++/mma/sload.exe
# ignore mex files
mex/mexSOPEN.cpp
*.mex*
# ignore intermediate files for biosig4python
biosig4c++/python/biosig.py
biosig4c++/python/swig_wrap.cxx
# CMake output
biosig4c++/CMakeCache.txt
biosig4c++/CMakeFiles
# 
*.exe
*.deb
*.tar.gz
# MacPorts stuff
biosig4c++/macports/PortIndex
biosig4c++/macports/PortIndex.quick
biosig4c++/macports/Portfile-libbiosig.diff
biosig4c++/macports/biosig4c++-*.src.tar.gz*
