#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

PYTHON2_VERSIONS = $(shell pyversions -r)
PYTHON3_VERSIONS = $(shell py3versions -r)
py3sdo  = set -e; $(foreach py, $(PYTHON3_VERSIONS), $(py) $(1);)
pyalldo = set -e; $(foreach py, $(PYTHON2_VERSIONS) $(PYTHON3_VERSIONS), (cd python; $(py) $(1));)

export PYBUILD_NAME=biosig

%:
	dh $@ --with python2,python3

override_dh_auto_configure:
	dh_auto_configure
	: # Use our copies

override_dh_auto_build:
	: # Build everything upstream builds by default
	DESTDIR=$$(pwd)/debian/biosig \
		$(MAKE) $(MAKEOPTS) lib tools mex4o
	#	 biosig_client biosig_server
        : I: build Python bindings
	$(call pyalldo,setup.py build)

override_dh_auto_test:
	: I: skip testing for now -- relies on download of test data

# Manual crafting of installing Octave and Python bindings

OCTDIR=$(shell octave-config --oct-site-dir)

override_dh_auto_install:
	dh_auto_install -- prefix=/usr

	: I: install Python bindings
	$(call pyalldo,setup.py install --root=$(CURDIR)/debian/$(DEB_SOURCE)tmp --install-layout=deb)

	: I: install Octave bindings
	mkdir -p debian/octave-biosig$(OCTDIR)
	: # install with executable flag so dh_{strip,...} tools could catch it to operate
	install mex/mexS*.mex debian/octave-biosig$(OCTDIR)

	[ -x /usr/bin/dh_numpy ] && dh_numpy || :


override_dh_makeshlibs:
	dh_makeshlibs
	: # Provide Octave:Depends
	[ -e /usr/bin/octave-depends ] \
	&& octave-depends \
	|| echo 'octave:Depends=octave (>= 3.4.3-1~)' >> debian/octave-biosig.substvars


override_dh_strip:
	dh_strip --dbg-package=libbiosig1.8

# Tune up permission for .mex files this late in the chain
# Silly dh_strip, dh_shlibdeps do not process those since extension
# is "unknown" to them and they are not executable
override_dh_gencontrol:
	chmod a-x debian/octave-biosig$(OCTDIR)/*.mex
	dh_gencontrol

override_dh_auto_clean:
	dh_auto_clean
	DESTDIR=$$(pwd)/debian/biosig $(MAKE) $(MAKEOPTS) clean					# distclean invoked by auto isn't enough
	rm -rf python/build
	rm -rf python/*.egg-info
